doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    link(rel='stylesheet', href='/font/font.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')
    script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='javascripts/index.js')

  body
    h1#title="Room Occupancy"
    br
    br
    br
    br
    br

    #requestMax
        input#max.enter(type='text', name='enter', value='', placeholder="Maximum Occupancy")
        br
        input#submit(type='button', value='Submit')
        #warning
        a(href='/resetNow') RESET NOW 

    #highlight
      h1#count=counter
    h1#WARNING
    h2#time &nbsp;
    
    br
    .ct-chart
    div#about Brought to you by Qiuyu Zhang, Kevin Wong, Sichen Zhao, Regan Hsu






script.
    $(document).ready(function(){
        var max = $('#max');




        $('#submit').click(function() {
            console.log(max.val());
            if(!isNaN(max.val()) && max.val() > 0) {
                $('#about').fadeOut(50, function(){
                    $('#requestMax').fadeOut(15, function(){
                    setTimeout(function(){ 
                        $('#highlight').fadeIn(50);
                        $('#time').css('visibility','visible').hide().fadeIn(3000);
                        $('#about').fadeIn();
                        $('.ct-chart').fadeIn();
                    }, 50);
                    });                
                });





                $.getJSON("http://107.170.149.67/reset", function() {
                        go(max.val());

                     }).fail()

            } else {
                $('#warning').html("You must submit a positive whole number.");
            }
        });
    })
