doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')

    link(rel='stylesheet', href='/font/font.css')

    link(rel='stylesheet', href='/stylesheets/reps.css')

    link(rel='stylesheet', href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')
    script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='javascripts/reps.js')


  body
    h1#title="MyReps"
    br

    
    .row
      .col-sm-4
        #highlight
          h1#reps=reps
        br
        br
      .col-sm-8
        table#myFriends.table
          tr
            td 
              Strong
                | My Friends
            td 
              Strong
                | Total Reps
          tr
            td Chris
            td 90 Reps
          tr
            td Lindsay
            td 20 Reps
          tr
            td Regan
            td 7000 Reps
          tr
            td Qiuyu
            td 10 Reps
    
    br


    a(href='/reps/resetNow')#submit Reset My Reps


    
    script.
        $(document).ready(function(){
            getReps();
        });






